html, body {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

.auth {
    display: flex;
    padding-top: 50px;
    justify-content: center;
}

.auth .card {
    width: 400px;
}

.chat {
    display: flex;
    height: 70vh;
    width: 100%;
}

.chat-users {
    width: 300px;
    border: 1px solid #e0e0e0;
    margin: 0;
}

.actions {
    height: 30vh;
    padding: 20px;
    border: 1px solid #e0e0e0;
}

.chat-messages {
    border: 1px solid #e0e0e0;
    width: 100%;
    padding: 15px;
    overflow-y: auto;
}

.message {
    display: flex;
}

.message-content {
    border-radius:5px;
    padding: 5px 10px;
    font-size: 14px;
    margin-bottom: 10px;
    max-width: 250px;
}

.message.owner {
    justify-content: flex-end;
}

.message.owner .message-content {
    color: #fff;
    background: #26a69a;
}

